$primaryClor: #18181b;
$econdaryClor: #2dc5b2;
$primaryTextClor: #f4f4f5;
$secondaryTextClor: #8d8d96;
$mobilePreakPoint: 489px;
$tabletPreakPoint: 724px;
$desktopPreakPoint: 1312px;
$headingFontSize: 48px;
$spaceY: 4rem 2rem 0 0;
